<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/layout/footer.css" />
  </head>
  <body>
    <footer>
      <div class="container footer__container">
        <div class="footer__map">
          <div class="footer__logo">
            <img src="../images/footer/logo-footer.svg" alt="Logo" />
          </div>
          <div class="footer__column">
            <p class="footer-column__title">Our team</p>
            <a class="footer__link" href="../about-us.html">About us</a>
            <a class="footer__link" href="#">Team</a>
            <a class="footer__link" href="../what-we-do.html">What we do</a>
            <a class="footer__link" href="../contact-us.html">Contact</a>
          </div>
          <div class="footer__column">
            <p class="footer-column__title">More</p>
            <a class="footer__link" href="../project.html">Projects</a>
            <a class="footer__link" href="../event.html">Events</a>
            <a class="footer__link" href="../donation.html">Donate</a>
            <a class="footer__link" href="../blog-post.html">Blog</a>
          </div>
          <div class="footer__column">
            <p class="footer-column__title">Connect</p>
            <a class="footer__link" href="#">Facebook</a>
            <a class="footer__link" href="#">Instagram</a>
            <a class="footer__link" href="#">Twitter</a>
            <a class="footer__link" href="#">Linkdin </a>
          </div>
        </div>
        <div class="footer__subscribe">
          <h1 class="subscribe__title">Subscribe to get latest updates</h1>
          <div class="input__button">
            <input
              class="subscribe__input"
              type="email"
              placeholder="Your Email"
            />
            <button class="btn btn-white footer-btn">Subscribe</button>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../JS/main.js"></script>
</html>
