.btn {
  padding: 16px 32px;
  border-radius: 4px;
  backdrop-filter: blur(40px);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.btn-green {
  color: #fff;
  background-color: var(--green-primary);
}

.btn-white {
  color: var(--primary-text);
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: var(--primary-text);
}







